

body{
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.shoplist{
    padding: 20px;
    text-align: center;
}
.appcontainer{
    padding: 5%;
    text-align: center;
}
.appcontainer header{
    font-family: Garamond, Times New Roman, Times, serif;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 4em;
    padding-bottom: 3%;
}
.appcontainer p {
    margin-top: -5%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 2em;

}
.appcontainer img{
    max-width: 60%;
}
.shoplist-header{
    margin-left: 10%;
}

.landing{
    padding: 5%;
}
.landing h1{
    font-size: 6em;
}
@media all and (max-width: 320px)  {
    .landing h1{
        font-size: 3em;
    }
}
.main-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #000000;
    background-color: #eee;
    padding: 5px 0px;
}
footer{
    font-size: 12px;
    text-align: center;
}
footer a {
    text-decoration: none;
}