

body{
    background-image: url('../images/cubes.png');
    /*background-size: cover;*/
}
.shoplist{
    padding: 20px;
    text-align: center;
}
.appcontainer{
    padding: 5%;
    text-align: center;
}
.appcontainer header{
    font-family: Garamond, Times New Roman, Times, serif;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 4em;
    padding-bottom: 3%;
}
.appcontainer p {
    margin-top: -5%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 2em;

}
.appcontainer img{
    max-width: 60%;
}
.shoplist-header{
    margin-left: 10%;
}

.landing{
    padding: 5%;
}
.landing h1{
    font-size: 6em;
}

.main-footer{
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    color: #000000;
    background-color: #eee;
    padding: 5px 0px;
}
footer{
    font-size: 12px;
    text-align: center;
}
footer a {
    text-decoration: none;
}
.main p{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 1.5rem;
}
.cv {
    /*background-image: url("../images/cv-01.png");*/
    /*background-repeat:no-repeat;*/
    /*background-position: left top;*/
    /*background-size: contain;*/
    padding-bottom: 20px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    margin-top: -40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 30px;
}
.landing-buttons{
    /*background-color: lightgray;*/
    /*background-image: url("../images/project_papper.png");*/
    /*opacity: 0.5;*/
    transition: all .2s ease-in-out;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}
.landing-buttons:hover{
    transform: scale(1.1);
    /*opacity: 1.0;*/
}
.landing-buttons strong{
    text-align: center;
    font-size: 1.2rem;
}
.btns, .contact{
    text-align: center;
}
.pics .row {margin-bottom: 10px;}
.pics .entry{
    transition: all .1s ease-in-out;
    border: solid #ffffff 5px;
}
.entry-sm, .entry-lg{
    height: 100px;
}
.entry-sm{
    width: 40%;
    background-image: url("../images/aa.png");
    color: #f5f5f5;
}
.entry-lg{
    width: 60%;
    background-image: url("../images/ice.png");
    color: #f5f5f5;
}
.entry p{
    transition: all .2s ease-in-out;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 2rem;
    text-shadow: 1px 0px 1px white;
    text-shadow: -1px 0px 1px black;
    width: 100%;
    height: 100%;
    opacity: 0.0
}
.entry p:hover{
    opacity: 1;
}
.pics .entry:hover{
    transform: scale(1.1);
}
/*publications*/
.publicatnis ul{
    padding: 5% 10% 0%;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 1.2rem;
    list-style-type: none;
}

@media all and (max-width: 600px)  {
    .landing h1{
        font-size: 3rem;
    }
    .main p{
        font-size: 1rem;
    }
}