@import "compass";
@import "compass/css3/transform";

$myblue : blue;
$mywhite:#f5f5f5;
$me:url(../images/me.png);
$serif:"museo","Bookman", Georgia, "Times New Roman", serif;
$sansserif: "proxima-nova","Helvetica-Neue","Helvetica","Arial", sans-serif;

.shoplist{
  padding: 20px;
  text-align: center;
}
.shoplist-header{
  margin-left: 10%;
}
.appcontainer{
  padding: 5%;
  text-align: center;
   p {
    margin-top: -5%;
    font-family: $serif;
    color: $mywhite;
    font-size: 2em;
  }
  img{
    max-width: 60%;
  }
}
#mynav a{
  font-family: $sansserif;
}
/*landing stuff*/
.landing {

  background: $me no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 5%;
  text-align: right;
  min-height: 500px;
  p{
    color: lightgrey ;
    color: transparent;
    @include text-shadow( rgba(255,255,255,0.5) 0px 3px 1px);
  }
  h1{
    font-family: "atrament-web", $sansserif;
    font-size: 6em;
    color: transparent;
    @include text-shadow(rgba(255,255,255,0.5) 0px 3px 3px);
  }
  h2{
    font-family: "atrament-web", $sansserif;
    font-size: 3em;
    color: transparent;
    @include text-shadow(rgba(255,255,255,0.5) 0px 3px 3px);
  }
}

section#cta{
  min-height: 150px;
   background-image: url("../images/patterns/pw_maze_black.png");
   border-top:solid 1px lightgoldenrodyellow;
  border-bottom:solid 1px lightgoldenrodyellow;

  .fixheight150.button{
    min-height: 150px;
  }
  .fixheight150 span{
    display: block;
  }

}

/*Main footer*/
.main-footer{
  bottom: 0;
  width: 100%;
  color: darkgray;
  padding: 5px 0px;
}
footer{
  font-size: 12px;
  text-align: center;
  a {
    text-decoration: none;
    color: #006887;
  }
}
.main p{
  font-family: $serif;
  font-size: 1.5rem;
}
.cv {
  padding-bottom: 20px;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  margin:-40px auto 20px auto;
  border-radius: 30px;
}
.landing-buttons{
  transition: all .2s ease-in-out;
  color: lightgrey;
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  &:hover{
    @include transform( scale(1.1));
    /*opacity: 1.0;*/
  }
  strong{
    text-align: center;
    font-size: 1.2rem;
  }
}

.btns, .contact{
  text-align: center;
}
.pics .row {margin-bottom: 10px;}
.pics .entry{
  transition: all .1s ease-in-out;
  border: solid #ffffff 5px;
}
.entry-sm, .entry-lg{
  height: 100px;
}
.entry-sm{
  width: 40%;
  color: #f5f5f5;
}
.entry-lg{
  width: 60%;
  color: #f5f5f5;
}
.entry p{
  transition: all .2s ease-in-out;
  font-family: $serif;
  font-size: 2rem;
  text-shadow: 1px 0px 1px white;
  text-shadow: -1px 0px 1px black;
  width: 100%;
  height: 100%;
  opacity: 0.0
}
.entry p:hover{
  opacity: 1;
}
.pics .entry:hover{
  transform: scale(1.1);
}
/*publications*/
.publicatnis ul{
  padding: 5% 10% 0%;
  font-family: $serif;
  font-size: 1.2rem;
  list-style-type: none;
}
.portfolio{
  border-top:solid 1px lightgoldenrodyellow;
  border-bottom:solid 1px lightgoldenrodyellow;
  background: url("../images/patterns/escheresque_ste.png") center center fixed;
}
.knowhow{
  border-bottom:solid 1px lightgoldenrodyellow;
  background: url("../images/patterns/project_papper.png");
}
.landing-footer{
  padding-top: 5%;
  background: url("../images/patterns/binding_dark.png") center center fixed;
}

@media all and (max-width: 600px)  {
  .landing h1{
    font-size: 3rem;
  }
  .main p{
    font-size: 1rem;
  }
}

/*fixes for bg in ipads and iphones. (that's a huge market share)*/

/*IPADS portrait and landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .landing{
    background: url(../images/me.png) no-repeat center center;
  }
}
/*IPHONE5 portrait and landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .landing{
    background: url(../images/me.png) no-repeat center center;
  }
}
/*Iphone2-4 portrait and landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .landing{
    background: url(../images/me.png) no-repeat center center;
  }
}
