<p>This is the knowhow view.</p>
<section>
    <div class="shoplist">
        <dl class="sub-nav">
            <dt>Filter: </dt>
            <dd ng-repeat="fil in fils" class="active"><a>{{fil}}</a></dd>
        </dl>
        <ul  class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
            <li ng-repeat="skill in skills" class="shop">
                    <p><span ng-repeat="i in range(skill.level)"><i class="fa fa-star"></i></span></p>
                    <span class="button secondary small">{{skill.name}}</span>
            </li>
        </ul>
    </div>
</section>

</div>
<footer> by <a href="http://www.dedd.us"> Deddu </a> 2013, background-image by Yao Cheng </footer>