

<section class="landing">
<header>
    <h1>Dedd.us</h1>
    <p>Developer, Scholar, Gentleman</p>
</header>
<div class="row">
        <div class="small-12 large-8 columns main">
            <p>I'm a full stack software engineer and Physical chemistry PhD, currently in Northwestern University.</p>
            <p>I love coding, science, and nice typography.</p>
            <p>After many years of Academia, I am finally merging my passion for coding with science, developing
            automated retrosynthetic analysis.</p>

        </div>
        <div class="small-12 large-4 columns">
             <div class="small-2 large-12 columns landing-buttons">
                 <a  href="mailto:cadedduan@gmail.com">
                     <i class="fa fa-envelope-o fa-5x"></i>
                 </a>
                 <strong class="text-center"> E-Mail</strong>
             </div>
            <div class="small-2 medium-12 large-12 columns landing-buttons">
                <a href="../data/20140117-cv.pdf">
                    <span class="fa-stack fa-3x">
                    <i class="fa fa-file-o fa-stack-2x"></i>
                    <i class="fa fa-bar-chart-o fa-rotate-90 fa-stack-1x"></i>
                    </span>
                </a>
                <strong class="text-center"> Resume</strong>
            </div>

        </div>
</div>


    <!--<div class="contact"></div>-->
    <!--&lt;!&ndash;<div class="cv"><img src="../images/cv-01.png" alt="cv"/></div>&ndash;&gt;-->
    <!--<br/>-->
    <!--<img width="80px" src="../images/icons/icon_20733.svg" onerror="this.onerror=null; this.src='../images/icons/icon_20733.png'">-->

<div class="btns">
<span ><a class="button" href="/#/portfolio" > portfolio</a></span>
<span ><a class="button" href="/#/knowhow" > skills</a></span>
<span ><a class="button" href="http://www.dedd.us" > blog</a></span>
</div>
</section>
<section class="pics">
    <div class="row">
        <div class="small-8 large-8 columns entry entry-lg">
            <!--<img class="" src="../images/ice.png" alt="placeholder">-->
            <p>Portfolio</p>
        </div>
        <div class="small-4 large-4 columns entry entry-sm">
            <!--<img class="" src="../images/aa.png" alt="placeholder">-->
            <p>Publications</p>
        </div>
    </div>
    <div class="row">
        <div class="small-4 large-4 columns entry entry-sm">
            <!--<img class="" src="../images/aa.png" alt="placeholder">-->
            <p></p>
        </div>
        <div class="small-8 large-8 columns entry entry-lg">
            <!--<img class="" src="../images/ice.png" alt="placeholder">-->
            <p></p>
        </div>

    </div>

</section>