<div>
    <section class="appcontainer">
        <!--<header>Deddu's PortFolio</header>-->
        <a href="{{link.url}}"><img src="{{link.thumbnail}}" alt="{{link.name}}"/></a>
        <p>{{link.description}}</p>
        <span class="arrow-right"><a class="button" ng-click="gimmeOne()"><i class="fa fa-chevron-left"></i></a></span>
        <span class="arrow-right"><a class="button" ng-click="gimmeOne()"><i class="fa fa-random"></i></a></span>
        <span class="arrow-right"><a class="button" ng-click="gimmeOne()"><i class="fa fa-chevron-right"></i></a></span>
        <br>
        <a class="button success" href="{{link.url}}">Go to {{link.name}}</a>
    </section>
    <section>
        <div class="shoplist">
        <ul  class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
            <li ng-repeat="shop in shops" class="shop">

                <a href="{{shop.url}}">
                    <img src="{{shop.thumbnail}}" alt="{{shop.name}}"/>
                    <p class="button secondary small">{{shop.name}}</p>
                </a>
            </li>
        </ul>
        </div>
    </section>

</div>
<footer> by <a href="http://www.dedd.us"> Deddu </a> 2013, background-image by Yao Cheng </footer>
